.root {
  position: relative;
}

.content {
  margin: 0 auto;
  position: relative;
  z-index: 2;
  padding-left: max(env(safe-area-inset-left), 1.5rem);
  padding-right: max(env(safe-area-inset-right), 1.5rem);
  max-width: 90rem;
  text-align: center;
  padding-bottom: 40px;
}

.headline {
  margin-top: 4rem;
  font-size: 3rem;
  font-size: min(3rem, max(8vw, 2rem));
  font-weight: 600;
  font-feature-settings: initial;
  line-height: 1.1;
  letter-spacing: -0.12rem;
  background: hsl(0 0% 100%);
}
:global(.dark) .headline {
  --tw-bg-opacity: 1;
  background-color: rgba(17,17,17,var(--tw-bg-opacity));
}

.head {
  color: hsl(0 0% 10%);
  position: relative;
  display: inline-flex;
  align-items: flex-end;
}
:global(.dark) .head {
  color: hsl(0 0% 100%);
}

.head > span:first-of-type {
  display: inline-block;
  line-height: 0.8;
}

.head > span:last-of-type {
  position: absolute;
  left: 98%;
  bottom: 46%;
  opacity: 0.75;
}

.head > span:nth-of-type(2) {
  position: relative;
}

.subtitle {
  margin-top: 1.25em;
  color: hsl(204 20% 40%);
  font-size: 1.3rem;
  font-size: min(1.3rem, max(3.5vw, 1.1rem));
  font-feature-settings: initial;
  font-weight: 400;
  line-height: 1.6;
}
.subtitle br {
  display: none;

  @media (min-width: 810px) {
    display: block;
  }
}

:global(.dark) .subtitle {
  color: hsl(204, 12%, 50%);
}

.actions {
  margin-top: 1.6em;
  margin-bottom: 1.4em;
  display: block;
  align-items: left;
  justify-content: left;
  font-size: 1.0rem;
  font-size: min(1.0rem, max(3.5vw, 1.1rem));
  font-weight: 500;
}

a.cta {
  margin-right: 0.75rem;
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  --tw-text-opacity: 1;
  background: linear-gradient(180deg,#3586e4,#07f);
  color: white;
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;
}
:global(.dark) a.cta {
  background: linear-gradient(180deg,#238aff,#07f);
}

a.cta span {
  display: inline-block;
  transition: all 0.2s ease;
}

a.cta:hover {
  --tw-text-opacity: 1;
  box-shadow: 0 5px 30px -10px hsl(var(--nextra-primary-hue)var(--nextra-primary-saturation)70%/var(--tw-text-opacity));
  filter: brightness(1.05);
}

a.cta:hover span {
  transform: translateX(3px);
}

a.cta:active {
  box-shadow: 0 1px 3px #00295738;
  filter: brightness(0.95);
}
a.cta:active span {
  transform: translateX(5px);
}

a.cta:focus-visible {
  outline: 2px solid
    hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
  outline-offset: 2px;
}

a.cta:focus-visible span {
  transform: translateX(3px);
}

a.secondaryAction {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  box-shadow: hsl(204 10% 75%) 0 0 0 1px inset;
  background: rgba(255, 255, 255, 0.7);
  color: hsl(204 20% 30%);
  text-decoration: none;
  white-space: nowrap;
  user-select: none;
  transition: all 0.2s ease;
}
a.secondaryAction:hover {
  box-shadow: 0 5px 22px -10px hsl(204 45% 20%);
  box-shadow: hsl(204 20% 50%) 0 0 0 1px inset;
}

a.secondaryAction:active {
  box-shadow: hsl(204 10% 75%) 0 0 0 1px inset;
}

a.secondaryAction:focus-visible {
  outline: 2px solid
    hsl(var(--nextra-primary-hue) var(--nextra-primary-saturation) 77%);
  outline-offset: 2px;
}

:global(.dark) a.secondaryAction {
  background: rgba(17, 17, 17, 0.7);
  color: hsl(204 10% 70%);
  box-shadow: hsl(204 10% 25%) 0 0 0 1px inset;
  text-shadow: 0 1px 1px #000;
}
:global(.dark) a.secondaryAction:hover {
  background: rgba(17, 17, 17, 1);
  box-shadow: hsl(204 10% 50%) 0 0 0 1px inset;
}

:global(.dark) a.secondaryAction:active {
  box-shadow: hsl(204 10% 25%) 0 0 0 1px inset;
}
